
.dropbtn , .dropbtn2 {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus ,.dropbtn2:hover, .dropbtn2:focus {
  background-color: #2980B9;
}

.dropdown ,.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content,.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a , .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover ,.dropdown2 a:hover{background-color: #ddd;}

.show {display: block;}

.cabecalho {
  text-align: center;
  font-style: italic;
  font-size: 60px;
}
.serie , .pararelo, .misto, .ledLig ,.led, .corrente{
  text-align: center;
  display: none;
}
.corrente {
  text-align: center;
}
.inputText {
  width: 35px;
}
.tabela {
  text-align: center;
  display: none;
  float: left;
}
.tabela td {
  border: 1px dotted blue;
}

.tabela th {
  border: 1px solid blue;
  border-bottom: 2px solid green;
  background: #F0FFF0;
}
tr {
  height: 30px;
}
.calcularRes {
  display: none;
  float: right;
}
.led li {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}